* { 
    margin: 0; 
    padding: 0;
}

body, html { 
    height: 100%; 
    width: 100%;
}

canvas {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

#toggle {
    cursor: pointer;
    font-size: 1.4em;
    margin: 13px;
    opacity: .5;
    position: fixed;
    z-index: 2;
}

#drawer {
    position: fixed;
    background-color: white;
    padding: 20px 20px 20px 80px;
    z-index: 1;
    width: 100%;
    opacity: .9;
}

.control {
    display: inline-block;
    padding-right: 20px;
}

#reset {
    font-size: 1.4em;
}